<ion-header>
  <ion-toolbar>
    <ion-title>SIGN UP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="box">
	<div class="signup">
		<h2>Create an account</h2>
		<label>Name:</label><br>
		<input class="name" type="text" placeholder="Please enter your full name"><br>
		<label>Email:</label><br>
		<input class="email" type="text" placeholder="Please enter your email"><br>
		<label>Password:</label><br>
		<input class="password" type="text" placeholder="Please enter your password">
		<br>
		<ion-button expand="full">Register</ion-button>
		<ion-button expand="full" routerLink="/home">Sign in</ion-button>
</div>
</div>
</ion-content>
